*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    
    padding: 15px;
}
.nav nav{
    flex: 1;
    text-align: right;
    
}
.nav nav ul{
    list-style: none;

}
.nav nav ul li{
    display: inline-block;
    padding:10px;
}

.nav nav ul li a{
    text-decoration: none;
color:#555;
}
.container{
    margin:0 80px;
}
.bg{
    background:linear-gradient(#ffd89b,#19547b);
}
.col{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-wrap:wrap;
    

}
.col .row1{
    flex:1;
    min-width: 300px;
    font-family: 'Hachi Maru Pop', cursive;
}
.col img{
    flex:1;
    width: 100%;
    padding:50px 0;
}
/*---cat---*/
.category{
    margin:20px 100px;
}
.cat-container{
    margin: auto;
    padding:20px 40px;
    
}
.cat-container .row{
    display: flex;

}
.cat-container .row .row2 img{
    width: 350px;
    padding: 10px;
}
/*---featured---*/
.featured h1{
    text-align: center;
    margin-bottom: 10px;
    color: #555;
}


.cat-container .row-cat{
    
    display: flex;
    padding: 10px;
    justify-content: center;
}
.cat-container img{

    width:250px;
   margin: 10px;
    
}
.cat-container .row-cat2{
    
    display: flex;
    justify-content: space-between;
    margin: 0 100px;

}
.cat-container .row-cat2 select{
    border:1px solid #ff523b;
    padding:5px
}
.cat-container .row-cat2 select:focus{
    outline:none;
}


.cat-container .row3 a{
    text-decoration: none;
    color: #555;
}

.cat-container .row3, .fas{
    text-align: center;
    color:#555;
}
.cat-container .row3{
    transition: transform 0.9s;
}
.cat-container .row3:hover{
    transform: translateY(-10px);
}
.fas,.far{
    
    color:orangered;
}
/*---offer---*/
.offer{
    margin-top: 30px;
}
.offer-container{
    background:linear-gradient(#004e92,#000428);
    display:flex;
}

.offer-container .img img{
    flex:1;
    justify-content: flex-start;
    width: 300px;
    margin: 40px 200px;
    flex-wrap: wrap;
}
.offer-container .p{
    flex: 1;
    justify-content:center;
    margin:auto;
    flex-wrap: wrap;
    color:#fff;
    text-align:center;
    font-size: 20px;
}

/*---small-cont---*/
.testimonial{
    margin-top: 50px;
}
.small-cont{
    display:flex;
    margin: 20 100px;
    
}
.small-cont .row1{
    flex: 1;
    text-align: center;
    box-shadow:0 0 20px 0px rgba(0,0,0,0.7);
    margin: 0 20px;
   


}
.small-cont .row1 img{
    width: 50px;
    border-radius: 50%;
    margin-top:30px;
    margin-bottom: 30px;
}
.small-cont .row1{
    transition: transform 0.9s;
}
.small-cont .row1:hover{
    transform:translateY(-10px);
}
/*---small-cont---*/
.brand{
    margin-top: 40px;
    margin-bottom: 40px;

}
.brandcontainer{
    display:flex;
    justify-content:center;
    
}
.brandcontainer .row5{
    width: 160px;
}
.brandcontainer .row5 img{
    

    width:100%;
    filter: grayscale(100%);
}
.brandcontainer .row5 img:hover{
    filter:grayscale(0%);
}
/*---footer---*/
.footrow .row1 img{
    width:120px;
   
}
.footrow .row2{
    color: white;
}
.footrow .row2 img{
    width:150px;
    
}
.footrow{
    display: flex;
    justify-content: center;
    margin-bottom:15px;
}
.footer{
    background-color:black;
   
}
.footrow .row1{
    margin: 0 30px;
    text-align: center;
    color: white;

}
.footrow .row1 ul{
    list-style:none;
}
.footer-container{
    padding:50px 0;
}
.footer-container hr{
    
    width:50%;
    margin: auto;
    
}
.footer-container h3{
    color:#555;
    text-align:center;
    margin-top:10px;
}



.page-btn{
    margin-left: 100px;
    margin-bottom: 30px;

}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left:10px;
    width:40px;
    height:40px;
    text-align: center;
    line-height:40px;
    cursor: pointer;

}

.page-btn span:hover{
    background:#ff523b;
    color:white;

}

.menu-icon{
    width:28px;
    margin-left: 20px ;

    display: none;
}












@media all and (max-width:800px)
{

    .nav nav ul{
        position: absolute;
        top:70px;
        left:0;
        background:#333;
        width:100%;
        overflow:scroll;
        transition: max-Height 0.5s;
    }
    .nav nav ul li{
        display:block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px ;
    }

    .nav nav ul li a{
        color: #fff;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }
    



    .cat-container img{
        width:200px;
    }
    .cat-container .row{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .cat-container .row-cat{
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    .offer-container{
        display: flex;
        flex-direction:column;
        align-items: center;
        
    }
    .offer-container .img img {
        flex: 1;
        justify-content: flex-start;
        margin: 40px;
        flex-wrap: wrap;
        width: 280px;
    }
    .offer-container .p{
        margin: 20px 0;
    }
    .small-cont{
        display: flex;
        flex-direction:column;
        align-items: center;
        
    }
    .small-cont .row1{
        margin: 10px 0;
    }
    .brandcontainer{
        display: flex;
        flex-direction:column;
        align-items: center;
        
    }
    .footrow{
        display: flex;
        flex-direction:column;
        align-items: center;
        
    }
    .footrow .row1{
        margin:10px 0;
    }
    .footrow .row2{
        margin:10px 0;
    }
    .cat-container{
        margin: auto;
        padding:20px ;
        
    }
    .category{
        margin:20px 0;
    }
    .cat-container .row .row2 img{
        width:220px
    }
    .cat-container .row-cat2{
    
        display: flex;
        justify-content: space-between;
       margin: 0;
    
    }
    .page-btn{
        margin: 0 0 30px 0;
    }
    
}